<div class="container" style="max-width: 1080px;">
  <div class="profile-container" *ngIf="user">
    <div class="profile-card">
      <div class="profile-banner"></div>

      <img [src]="user | userImage" [alt]="user.fullName" class="avatar" />

      <div class="profile-info">
        <h2 style="margin-top: 10px;">{{ user.fullName }}</h2>

        <div class="reputation-stars">
          <app-reputation-badge [level]="user.reputation_level"></app-reputation-badge>
        </div>

        <p class="location">
          {{ user.city }}, {{ user.state }}
        </p>

        <a class="info" href="mailto:{{ user.email }}?subject=Olá" title="Enviar e-mail para {{ user.fullName }}"
          class="email info">
          <i class="fas fa-envelope"></i>
          {{ user.email }}
        </a>

        <a class="info" href="https://wa.me/{{ user.phone }}?text=Olá" target="_blank" rel="noopener"
          title="Enviar WhatsApp para {{ user.fullName }}" class="phone info">
          <i class="fas fab fa-whatsapp"></i>
          {{ user.phone }}
        </a>
        <p style="color: #777" class="member-since info">
          <i class="fas fa-solid fa-calendar-days"></i>
          Membro desde {{ user.created_at | date:'dd/MM/yyyy' }}
        </p>

        <div class="actions" *ngIf="isCurrentUser">
          <button class="btn dark" (click)="editProfile()">Editar perfil</button>
        </div>

        <div class="actions" *ngIf="!isCurrentUser">
          <button class="btn dark" (click)="rateUser()">Avaliar usuário</button>
        </div>
      </div>

      <div class="products-grid">
        <app-product-card
          *ngFor="let product of products" 
          [product]="product" 
          (deleteProduct)="deleteProduct($event)"
          (editProduct)="editProduct($event)">
        </app-product-card>
      </div>
    </div>
  </div>
</div>